# build outputs
dist/
dist_electron/
dist_production/
build/
release/

# database
*.db
*.db-journal
prisma/dev.db

# environment
.env*
!.env.example

# logs and system
node_modules/
coverage/
.DS_Store
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Firebase credentials
firebase-applet-config.json
